# Entorno virtual
venv/
.venv/
env/

# Variables de entorno (SECRETOS)
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos de sistema (Mac/Windows)
.DS_Store
Thumbs.db

# Cache de spotipy
.cache